<footer class="footer footer-transparent d-print-none p-0">
    <div class="container-fluid p-0">


   
    </div>
    <div class="container-body">
    <div class="bottom-navbar">
      <div class="con-effect">
          <div class="effect"></div>
      </div>
      <button class="active">
          <i class='bx bx-home'></i>
      </button>
      <button>
          <i class='bx bx-chat' ></i>
      </button>
      <button 
          onclick="handleClickPlus(event)"
          class="float">
          <i class='bx bx-plus' ></i>
      </button>
      <button>
          <i class='bx bx-shopping-bag' ></i>
      </button>
      <button>
          <i class='bx bx-user' ></i>
      </button>
  </div>
  <div class="container-body container">
      <img src="/pc.png" alt="">
      <p>
          Your food instantly at your home, faster food tastier food
      </p>
      <button>
          Buy food
      </button>
    </div>
  </div>
  </footer>