<header class="container-fluid  d-flex flex-column justify-content-center">
  <div class="logo-header">
    <img style="height: 70px;display: block;margin: auto;margin-top: 10px;object-fit: cover;width: 160px;"
      src=" <%- GetInfo.logo %>" alt="">
  </div>
  <div class="tools-elements-header">

    <div class="shop-cart">

      <%- include('parts/shop-buttons') %>

    </div>

  </div>
</header>
