
<div class="fixed z-[9999] left-0 pl-3 pr-3 w-full flex bg-sky-900/90 items-center gap-2" id="content-buscador">
    <div class="justify-center w-full flex flex-col items-center gap-5  p-2 mb-5">
  
      <form action="" id="searchForm" class="flex items-center">
        <input id="searchInput"
          class="font-normal rounded-full lg:w-[800px] w-[70vw] border border-1 border-[#ffffff] placeholder:text-gray-400 placeholder:italic py-2 pl-4 text-gray-700 bg-white focus:border-0  focus:outline-1 focus:ring-0 focus:outline-[#ffffff] focus:shadow-outline focus:outline-current lg:text-sm text-md"
          type="text" placeholder="Buscador de productos..." autocomplete="off">
  
        <button type="submit" class="bg-[#ffffff] p-1 hover:bg-white/50 cursor-pointer mx-2 rounded-full" id="searchIcon">
  
          <svg class="w-6 h-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
              clip-rule="evenodd" />
          </svg>
  
        </button>
      </form>
  
      <div>
        <div class="p-2 mr-1 rounded-full cursor-pointer text-white flex justify-center" id="closeIcon">
          <div>Cancelar búsqueda</div>
        </div>
      </div>
  
    </div>
  </div>
  