<div id="loader" class="hidden fixed inset-0 z-[99999]" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-[#e5edef] backdrop-blur bg-opacity-85  transition-opacity"></div>
  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-start  justify-center p-4 text-center sm:items-center sm:p-0">
      <div class="modal-content relative transform w-full transition-all sm:my-8 sm:w-full sm:max-w-3xl">
        <div class="modal-body text-center text-sm flex justify-center ">
          <img src="https://media-static.creceidea.pe/images/loader-creceidea.gif" class="brightness-[1%] opacity-75"
            width="45px">
        </div>
      </div>
    </div>
  </div>
</div>