<div class="icon-cart-mini relative" >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="380.5657 182.1323 40 40" class="w-6 h-6" >
        <path
        fill="#ffffff"
            d="M 8 44 L 40 44 C 42.2 44 44 42.2 44 40 L 44 14 L 35.82 14 C 34.863 8.334 29.934 4 24 4 C 18.066 4 13.137 8.334 12.181 14 L 4 14 L 4 40 C 4 42.2 5.8 44 8 44 Z M 24 8 C 27.719 8 30.845 10.555 31.737 14 L 16.263 14 C 17.155 10.555 20.281 8 24 8 Z M 12 18 L 12 18 L 16 18 L 16 18 L 32 18 L 32 18 L 36 18 L 36 18 L 40 18 L 40 40 L 8 40 L 8 18 L 12 18 Z"
            id="object-0" transform="matrix(1, 0, 0, 1, 376.565673828125, 178.1322784423828)" />
    </svg>
    <span class="count-products top-[3px] text-xs flex justify-center items-center left-0 absolute h-full w-full">0</span>
</div>