<header class="container-fluid  d-flex flex-column justify-content-center relative">
  <div class="logo-header">
    <a href="/">
    <img style="height: 70px;display: block;margin: auto;margin-top: 10px;object-fit: contain; width: 160px;"
      src=" <%- GetInfo.logo %>" alt="">
    </a>
  </div>
  <div class="tools-elements-header">
    <% if (GetInfo.type_store=="product" ) { %>
    <div class="shop-cart">

      <%- include('parts/shop-buttons') %>

    </div>
    <% } %>
  </div>
</header>
