<section class="banner-catalog ml-3  mr-3" style="height: 185px;">
    <div class="logo-header">
        <a href="/">
            <img style="height: 70px;display: block;margin: auto;margin-top: 10px;object-fit: cover;width: 160px;"
                src="<%- GetInfo.logo %>" alt="">
        </a>
    </div>
    <div class="banner-container">
        <div class="inner-banner">
            <span class="text-2xl text-white">Libro de Reclamaciones</span>
        </div>

    </div>
</section>


