<section class="container-xxl p-4 d-flex flex-column justify-content-center">
    <div class="block-categories">
      <div class="list-cat-aviable swiper" style="overflow: hidden;" id="categories-multiple-slides">
        <div class="swiper-wrapper">
            <% navbar.forEach(item=> { %>
          <div class="item-cat swiper-slide"> <a href="<%- item.link %>" target="<%- item.target %>"> <%- item.title %> </a></div>
          <% }) %>
        </div>
      </div>
    </div>
  </section>