<header class="container-fluid  d-flex flex-column justify-content-center">
  <div class="logo-header">
    <img style="filter: brightness(2%) contrast(0%) saturate(2%); height: 70px;display: block;margin: auto;margin-top: 10px;object-fit: cover;width: 160px;"
      src=" <%- GetInfo.logo %>" alt="">
  </div>
  <div class="tools-header">

    <div class="social-links">

      <%- include('parts/social', {socialLinks: GetInfo.social_links}) %>

    </div>
    <div class="share-store" id="shareBtn"><svg width="800px" height="800px" viewBox="0 0 24 24" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M13.5 10.5L21 3" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M16 3L21 3L21 8" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M21 14V19C21 20.1046 20.1046 21 19 21H12H5C3.89543 21 3 20.1046 3 19V5C3 3.89543 3.89543 3 5 3H10"
          stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg><span>Compartir</span></div>
  </div>
</header>