<footer class="footer mt-5  d-print-none pb-[45px] border-t-4 border-[var(--primary-color)] p-2  bg-[var(--primary-color)]/10">
  <div class="container-fluid p-0 text-center mb-3">
    <h2 class="text-2xl mt-4 text-[<%-  GetInfo.colors[0] %>]"><%- GetInfo.title %></h2>
    <p> <%- GetInfo.meta_description %></p>
  </div>

</footer>
<div class="adds-creceidea-pe">

  Crea tu catálogo con CRECEIDEA.PE

</div>