<section class="banner-catalog">
    <div class="logo-header">
        <a href="/">
            <img style="height: 70px;display: block;margin: auto;margin-top: 10px;object-fit: cover;width: 160px;"
                src=" <%- GetInfo.logo %>" alt="">
        </a>
    </div>
    <div class="banner-container">
        <div class="inner-banner">
            <h2 class="titulo-catalog">PLANES</h2>
        </div>

    </div>
</section>
<section class="container-xxl p-4 d-flex flex-column justify-content-center">
    <div class="block-categories">
        <div class="list-cat-aviable swiper" style="overflow: hidden;" id="categories-multiple-slides">
            <div class="swiper-wrapper">
                <div class="item-cat swiper-slide">Cobertura</div>
                <div class="item-cat swiper-slide" data-bs-toggle="modal" data-bs-target="#modal-scrollable">Planes
                </div>
                <div class="item-cat swiper-slide">Beneficios</div>
                <div class="item-cat swiper-slide">WhatsApp</div>
                <div class="item-cat swiper-slide">Contacto</div>
            </div>
        </div>
    </div>
</section>
<section class="container-xxl pt-4">

    <div class="container-products-catalog">
        <div class="row">
            <%- include('./card_product', { productsData: dataProducts, GetInfo:GetInfo }) %>
        </div>
    </div>
</section>