<div class="swiper text-white" id="swiper-with-arrows">
  <div class="swiper-wrapper">
    <div class="swiper-slide" style="background-image: url(https://img.freepik.com/fotos-premium/cliente-compra-tienda-ropa-asociado-ventas-ayuda-consejos-clientes-diversos-eligen-ropa-elegante-marcas-coloridas-disenos-sostenibles_76964-109642.jpg)">
      Slide 1
    </div>
    <div class="swiper-slide" style="background-image: url(https://img.freepik.com/fotos-premium/cliente-compra-tienda-ropa-asociado-ventas-ayuda-consejos-clientes-diversos-eligen-ropa-elegante-marcas-coloridas-disenos-sostenibles_76964-109642.jpg)">
      Slide 2
    </div>
    <div class="swiper-slide" style="background-image: url(https://img.freepik.com/fotos-premium/cliente-compra-tienda-ropa-asociado-ventas-ayuda-consejos-clientes-diversos-eligen-ropa-elegante-marcas-coloridas-disenos-sostenibles_76964-109642.jpg)">
      Slide 3
    </div>
    <div class="swiper-slide" style="background-image: url(./assets/img/elements/12.jpg)">
      Slide 4
    </div>
    <div class="swiper-slide" style="background-image: url(./assets/img/elements/7.jpg)">
      Slide 5
    </div>
  </div>
  <div class="swiper-button-next swiper-button-white custom-icon"></div>
  <div class="swiper-button-prev swiper-button-white custom-icon"></div>
</div>
<div class="container-xxl flex-grow-1 container-p-y">
<div class="col-12">
  <div class="swiper text-white" id="swiper-multiple-slides">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image: url(./assets/img/elements/13.jpg)">
        Slide 1
      </div>
      <div class="swiper-slide" style="background-image: url(./assets/img/elements/19.jpg)">
        Slide 2
      </div>
      <div class="swiper-slide" style="background-image: url(./assets/img/elements/18.jpg)">
        Slide 3
      </div>
      <div class="swiper-slide" style="background-image: url(./assets/img/elements/7.jpg)">
        Slide 4
      </div>
      <div class="swiper-slide" style="background-image: url(./assets/img/elements/20.jpg)">
        Slide 5
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>

</div>